@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fff;
}

.inter-light {
  font-family: var(--font-inter-light);
}
.inter-medium {
  font-family: var(--font-inter-medium);
}
.inter-bold {
  font-family: var(--font-inter-bold);
}

.hero-base-text {
  font-size: 3.5rem;
  max-width: 630px;
  line-height: 4rem;
}
@media screen and (max-width: 768px) {
  .hero-base-text {
    font-size: 2.5rem;
    line-height: 1.25;
  }
}

.mobile-menu.open .menu {
  top: 52px;
  height: 100%;
}
.mobile-menu.close .menu {
  top: -600px;
}

.mobile-menu .menu {
  top: 52px;
  /* padding: 24px 28px 0 0; */
  max-width: 85vw;
  transition: left .4s ease;
  background-color: #fff;
}

.toggle-btn svg {
  width: 1.5rem;
}

.blog-content img {
  margin: 1rem 0;
}

.link-gmail {
  color: #c0372a;
}
.link-gmail:hover {
  background-color: rgba(192, 55, 42, .08);
  color: #c0372a;
}

@media screen and (min-width: 768px) {
  .project-card img {
    height: 215px;
  }
}

