@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  overflow-y: scroll ;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: auto;
}

 body {
  font-family: 'Karla', sans-serif;
} 

.container {
  max-width: 680px;
}


h1 {
  font-weight: 700;
}


/* Todo: stylings for blog post elements */

.dot {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #49de80;
  display: inline-block;
  margin-right: 8px;
}

.toggle-btn {
  margin-left: 12px;
}
.toggle-btn svg {
  width: 1.5rem;
}

.blog-content a {
  color: rgb(46, 46, 239);
  text-decoration: underline;
}

.blog-content p {
  margin-top: 1em;
  margin-bottom: 1em;
}

.blog-content h2 {
  font-size: 1.6rem;
  font-weight: 700;
}

.blog-content ul {
  margin-left: 20px;
  list-style: disc;
}

/* Mobile menu */
.menu {
  left: 12px;
  top: 4rem;
  padding: 24px 28px 0 24px;
}

/* Code preview */

.source-code {
  margin-top: auto;
}

pre.syntax-highlighter {
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
  border-radius: 0.25rem;
}

main {
  overflow-x: hidden;
  overflow-y: scroll;
}

pre::-webkit-scrollbar {
  -webkit-appearance: none;
  height: 8px;
}
pre::-webkit-scrollbar-thumb {
  background-color: #d4d4d8;
}


.featured-content > a:first-child .featured-project {
  border-color: #49de80;
}

.featured-content > a:nth-child(2) .featured-project {
  border-color: #bf84fc;
}

.featured-content > a:nth-child(3) .featured-project {
  border-color: #fb923c;
}

.link-gmail {
  color: #c0372a;
}

.contact-modal-content {
  max-width: 292px;
}

